numpy==1.17.5
setuptools
scipy
scikit-learn
opencv-python
opencv-contrib-python
tensorflow-gpu
keras_applications
tensorflow-model-optimization
tensorflow-addons
matplotlib
tqdm
pillow
mnn
Cython
pycocotools
keras2onnx
tf2onnx
onnx
onnxruntime
tfcoreml
sympy
imgaug
imagecorruptions
bokeh
tidecv
